/* open-sans-condensed-300 - latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'),
       url('open-sans-condensed-v10-latin-300.woff2') format('woff2');
}
/* open-sans-condensed-700 - latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'),
       url('open-sans-condensed-v10-latin-700.woff2') format('woff2');
}

@font-face {
  font-family: 'PressStart2P';
  src:
    url('PressStart2P.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
